<!DOCTYPE html>
 <html>
    <head>
        <title>Image Upload</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            .input-file-container {
    position: relative;
    width: 225px;
  } 
  #place{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  /* .js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
  } */
  .js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }
  .js .input-file:hover + .input-file-trigger,
  .js .input-file:focus + .input-file-trigger,
  .js .input-file-trigger:hover,
  .js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
  }
  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }
  /* Useless styles, just for demo styles */
  body {
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    color: #7F8C9A;
    background: #FCFDFD;
  }
  h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
  }
  h2 {
    margin: 5px 0 2em;
    color: #1ABC9C;
  }
  form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
  }
  h2 + P {
    text-align: center;
  }
  .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
  }
  .copy {
    margin-top: 2em;
  }
  .copy a {
    text-decoration: none;
    color: #1ABC9C;
  }
        </style>
    </head>
    <body>
      <div id="place">
          <h1>UPLOAD OR UPDATE PROFILE PICTURE</h1>
            <h2>CLICK ON THE BUTTON BELOW</h2>
            <form action="/profile_data" enctype="multipart/form-data" method="POST">
              <div class="input-file-container">  
                <input class="input-file" id="my-file" type="file" name="picture" accept="image/*">
                <label tabindex="0" for="my-file" class="input-file-trigger btn btn-primary btn-lg btn-block" id="#but_upload">Select a file</label>
                <input id="submit" type="submit" class="btn btn-outline-success">
              </div>
              <p class="file-return"></p>
            </form>

      </div>
<script>
                document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".input-file" ),  
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
button.addEventListener( "keydown", function( event ) {  
    if ( event.keyCode == 13 || event.keyCode == 32 ) {  
        fileInput.focus();  
    }  
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});  
fileInput.addEventListener( "change", function( event ) {  
    the_return.innerHTML = this.value;  
});  
            </script>
    </body>
</html>